<h4>登録済みルーム一覧</h4>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
  </thead>

  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.attachment_image_tag post, :image, format: 'jpeg', size: '100x100' %></td>
        <td><%= register.name_room %></td>
        <td><%= register.int_room %></td>
        <td><%= register.price %></td>
        <td><%= register.created_at  %></td>
      </tr>
    <% end %>
  </tbody>

</table>
