<!DOCTYPE html>
<html>
  <head>
    <title>StayApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "header">
      <div class = "headerinner">

        <div class = "headerleft">
          <div class = "h_leftitem">
            <h3>poteshare</h3>
          </div>
          <div class = "h_leftitem">
          <%= search_form_for @q, url: registers_search_path do |f| %>
            <%= f.search_field :adress_cont,placeholder:"エリア" %>
            <% f.submit %>
          <% end %>

          </div>
          <div class = "h_leftitem">
          <%= search_form_for @q, url: registers_search_path do |f| %>
            <%= f.search_field :int_room_cont,placeholder:"キーワード" %>
            <% f.submit %>
          <% end %>
          </div>

        </div>

        <div class = "headerright">
          <%if user_signed_in? %>
            ログインユーザー: <%= current_user.name %>
            <img src=<%= current_user.image %> class = "icon_image">
            <%= link_to "ログアウト", destroy_user_session_path %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
            <%= link_to "新規登録", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
